<ion-view title="Please Sign In" hide-back-button="true" ng-init="isLogged()">
    <ion-content class="padding">
        <!-- The content of the page -->
        <ion-pane>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">E-mail</span>
                    <input type="text" ng-model="user.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="user.password">
                </label>
                <button class="button button-block button-balanced" on-touch="checkLogin()">Login</button>
                <a class="button button-block button-calm calm" ui-sref="signup">Register</a>
                <!--<button class="button button-small button-block button-calm calm" on-touch="Check()">Register</button>-->
            </div>
        </ion-pane>
    </ion-content>
</ion-view>