<div class="chat-panel panel panel-default" ng-controller="ChatCtrl" ng-init="listAll()">
    <!--{{value}}-->
    <div class="panel-heading">
        <i class="fa fa-comments fa-fw"></i> Tip Chat
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <ul class="chat">
            <li class="left clearfix" ng-repeat="msg in messages">
                <span class="chat-img pull-left">
                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">{{msg.user}}</strong>
                    </div>
                    <p>
                        {{msg.message}}
                    </p>
                </div>
            </li>            
        </ul>
    </div>
    <!-- /.panel-body -->
    <div class="panel-footer">
        <form ng-submit="sendMessage()">
            <div class="input-group">
                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." ng-model="message"
                />
                <span class="input-group-btn">
            <input class="btn btn-warning btn-sm" id="btn-chat" type="submit" value="Send"></input>
        </span>
            </div>
        </form>
    </div>
    <!-- /.panel-footer -->
</div>